body{
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.form-container-1{
    width: 30%;
    margin: 60px auto; 
}
.form-container-1 h2{
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    color: #166FE5;
}
.form{
    border: 1px solid whitesmoke;
    background-color: #ffffff;
    padding: 14px 0 14px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425), 0 8px 16px rgba(0, 0, 0, 0.411);
}
.form form p{
    color: rgba(0, 0, 0, 0.719);
    text-align: center;
}
.form form .f-input-m{
    margin-bottom: 15px;
}
.form form input{
    border: none;
    border: 1px solid rgba(44, 42, 42, 0.575);
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin-left: 23.1px;
}
.form form .input-login{
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    background-color: #166FE5;
    width: 363px;
    padding: 10px 16px;
    margin-left: 23.1px;
    margin-bottom: 15px;
}
.form .form-link-container{
    margin-top: 10px;
    text-align: center;
}

.form a.form-link{
    transition: 0.4s;
    text-decoration: none;
    color: #166FE5;
}
.form a.form-link:hover{
    text-decoration: underline;
}