body{
    background-color: whitesmoke;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.form-container-1{
    margin: auto;
    width: 90%;
    max-width: 400px; 
}
.form-container-1 h2{
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    color: #166FE5;
}
.form{
    border: 1px solid whitesmoke;
    background-color: #ffffff;
    padding: 14px 0 14px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425), 0 8px 16px rgba(0, 0, 0, 0.411);
}
.form form p{
    color: rgba(0, 0, 0, 0.719);
    text-align: center;
}
.form form .f-input-m{
    margin-bottom: 15px;
}
.form form input{
    letter-spacing: 1px;
    border: none;
    border: 1px solid rgba(44, 42, 42, 0.575);
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    margin-left: 15px;
}
.inputs-container{
    margin: auto;
}
.form form .input-login{
    transition: 0.2s;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    background-color: #166FE5;
    width: 363px;
    padding: 10px 16px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.form form .input-login:hover{
    opacity: 0.8;
}
.form .form-link-container{
    margin-top: 10px;
    text-align: center;
}

.form a.form-link{
    transition: 0.4s;
    text-decoration: none;
    color: #166FE5;
}
.form a.form-link:hover{
    text-decoration: underline;
}
.custom-hr{
    margin: 60px 0;
    border-bottom: none;
    color: gold;
}
.main-form-2{
    position: relative;
    box-sizing: border-box;
    padding: 24px;
    width: 95%;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425), 0 8px 16px rgba(0, 0, 0, 0.411);
}
.head-2{
    color: #0d4e8f;
    margin-left: 55px;
    font-weight: bolder;
    font-size: 1.8rem;
}
.head-cus{
    margin-left: 3.3px;
    background-color: #0d4e8f;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
.sp-h2{
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 5px;
}
.sp-p{
    margin-top: 0;
    font-size: 1.1rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.719);
    margin-bottom: 20px;
}
.sp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
.form2-inputs-container{
    margin-top: 32px;
}  
.form-2-inputs{
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius: 4px;
}
.show{
    transition: 0.2s;
    position: absolute;
    top: 31.5%;
    left: 73%;
    color: #5D76C2;
    text-decoration: none;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 8px;
}
.show:hover{
    color: white;
    background-color: #5D76C2;
}
.fp{
    color: #166FE5;
    transition: 0.4s;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 4px;
    text-decoration: none;
    padding: 5px 8px;
    margin-bottom: 20px;
}
.fp:hover{
    text-decoration: underline;
    background-color: #637AC2;
    color: white;
}
.sign-in{
    border-radius: 28px !important;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    border: none;
    width: 90%;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    background-color: #166FE5;
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius: 4px;
}
.sign-in:hover{
    cursor: pointer;
    background-color: #0d4e8f;
}
.border{
    margin-left: 8px;
}
.span-or{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.377);
}
.custom-br{
    color: rgba(0, 0, 0, 0.377);
    border-bottom: none;
    width: 40%;
    display: inline-block;
}
.last-head p{
    color: rgba(0, 0, 0, 0.692);
    line-height: 22px;
    font-size: 16px;
    padding-top: 12px;
}
.last-head p .url{
    transition: 0.2s;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #166FE5;
}
.last-head .url:hover{
    text-decoration: underline;
}
.icon-2{
    font-size: 25px;
}
.icon-3{
    font-weight: normal;
    font-size: 20px;
}
.button-1, .button-2{
    margin-bottom: 10px;
}
.button-1, .button-2, .button-3{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.61);
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius: 20px;
}
.button-2, .button-3{
    opacity: 0.8;
}
.button-1:hover{
    box-sizing: border-box;
    background-color: rgba(127, 255, 212, 0.082);
    border-left: 1px solid;
    border-right: 1px solid;
}
.button-2:hover,
.button-3:hover{
    border: 2px solid;
    opacity: 1;
    box-sizing: border-box;
}
.end a{
    text-decoration: none;
}
.end a:hover{
    text-decoration: underline;
}
.end{
    font-size: 1.1rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.719);
    text-align: center;
    margin: 32px 0 0;
}
.end-navbar{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
.end-navbar a{
    text-decoration: none;
    color: rgb(136, 130, 130);
}
.center{
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    background-color: #1982be;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425), 0 8px 16px rgba(0, 0, 0, 0.411);
}
.end-navbar a:hover{
    text-decoration: underline;
}
.re-h2{
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
}
.re-s{
    text-decoration: underline rgb(109, 255, 231);
}
.form-inputs input[type="text"],
.form-inputs input[type="email"],
.form-inputs input[type="password"],
.form-inputs input[type="button"]{
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    padding: 12px 12px;
    box-sizing: border-box;
    border-radius: 4px;
}
.ender{
    margin-top: 30px;
    transition: 0.2s;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    background-color: #b6c211;
    width: 90%;
    margin-left: 28px;
    padding: 10px 16px;
}
.ender:hover{
    opacity: 0.8;
}
.end-con {
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.42857;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.733);
}
.ending a{
    color: rgb(184, 196, 15);
}
.regis{
    border-radius: 5px !important;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    border: none;
    width: 90%;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    background-color: #166FE5;
    padding: 12px 12px;
    box-sizing: border-box;
}
.bd-login-form-container{
    font-family: Helvetica, sans-serif;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    width: 90%;
    max-width: 1700px;
    margin: auto;
}
.logo{
    float: left;
}
.header-container{
    background-color: #5cb85c;
    padding: 8px 5px;
    border-radius: 10px;
}
.lock-para{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
    margin-top: 15px;
}
.login-form-container{
    margin-top: 16px;
    text-align: center;
}
.form-section{
    width: 90%;
    margin: auto;
    margin-top: 15px;
}
.up{
    margin-left: 20px;
}
.f-f{
    margin-bottom: 25px;
}
.input-fields{
    width: 35%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    box-sizing: border-box;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.cs{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #555;
}
.sb{
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 50px;
    border: 1px solid green;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    background-color: #5cb85c;
}
.bd-logo{
    width: 90px;
    margin-top: 10px;
    margin-left: 5px;
    height: 90px;
}
.sb:hover{
    opacity: 0.8;
}
.form-link{
    color: rgba(0, 0, 255, 0.671);
    text-decoration: none;    
}
.form-link:hover{
    text-decoration: underline;
    color: #2574b9;
}
.head-description{
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    overflow: hidden;
    color: white;
}
.p-by{
    margin-bottom: 4px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    background-color: #5cb85c;
    padding: 8px 5px;
    border-radius: 10px;
    height: 120px;
    background-color: #928f8f5b;
}
.footer p{
    color: #555;
    font-size: 0.9rem;
}
.form-container-4{
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(to right, #8a138a, #263c78);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425), 0 8px 16px rgba(0, 0, 0, 0.411);
}
.form-sec{
    width: 85%;
    margin: auto;
}
.form-sec form{
    position: relative;
}
.user{
    position: absolute;
    top: 1%;
    left: -2%;
}
.lock{
    position: absolute;
    top: 25%;
    left: -2%;
}
.globe{
    font-size: 40px;
    box-sizing: border-box;
    padding: 15px;
    color: black;
    border-radius: 50%;
    background-color: white;
}
.sec-top{
    margin-bottom: 25px;
}
.sec-bot{
    margin-bottom: 35px;
}
.user, .fa-lock{
    font-size: 25px;
}

.inputs-sec{
    color: white;
    font-size: 20px;
    width: 80%;
    margin-left: 25px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}
input[type="checkbox"]{
    position: absolute;
    top: 45%;
    left: -2%;
}
.checkbox{
    font-size: 1.2rem;
    margin-left: 25px;
    margin-top: 0;
}
.inputs-sec:focus{
    outline: none;
}
.img-icon-header{
    text-align: center;
    margin-bottom: 10%;
}
.log-in{
    border: none;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 160px;
    background-color: white;
    color: rgb(14, 76, 209);
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 30px;
    animation: up-down 1s infinite  alternate;
}

@keyframes up-down {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.log-in:hover{
    animation-play-state: paused;
}
.f-pass{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 132px;
}
.f-pass:hover{
    text-decoration: underline;
}
.log-in:hover{
    cursor: pointer;
    background-color: rgb(219, 17, 152);
    color: rgba(255, 255, 255, 0.637);
}